{% extends 'partials/base.html' %}
{% block title %} Seção dos Pedidos {% endblock %}

{% block content %}
{% include 'partials/topnav.html' %}
   <!--Table-->
   <div class="container">
    <div class="row my-4">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <table class="table table-hover shadow-sm rounded">
                <thead class="bg-primary text-white">
                    <tr>
                        <th scope="col"><i class="fas fa-hashtag"></i> #</th>
                        <th scope="col"><i class="fas fa-box"></i> Produto</th>
                        <th scope="col"><i class="fas fa-tags"></i> Categoria</th>
                        <th scope="col"><i class="fas fa-sort-amount-up"></i> Quantidade</th>
                        <th scope="col"><i class="fas fa-user"></i> Pedido por</th>
                    </tr>
                </thead>
                <tbody class="bg-light">
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Broni</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>Kenneth</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>The Bird</td>
                        <td>@twitter</td>
                        <td>Cecilia</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}