{% extends 'partials/base.html' %}
{% block title %} Área da Equipe {% endblock %}


{% block content %}

<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <table class="table bg-white">                
                <thead style="background-color: #DAA520;">
                    <tr class="text-white">
                        <th scope="col">Detalhes</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Sobrenome</th>
                        <th scope="col">Usuário</th>
                    </tr>
                </thead>                
                <tbody>
                    <tr>
                        <th scope="row"><a class="btn btn-sm" style="background-color: #DAA520; color: white;" href="">Detalhes</a></th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>                        
                    </tr>
                    <tr>
                        <th scope="row"><a class="btn btn-sm" style="background-color: #DAA520; color: white;" href="">Detalhes</a></th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>                        
                    </tr>
                    <tr>
                        <th scope="row"><a class="btn btn-sm" style="background-color: #DAA520; color: white;" href="">Detalhes</a></th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<!--End Table-->


{% endblock %}